<!-- app/views/restaurants/show.html.erb -->
<h1><%= @restaurant.name %> <small><%= @restaurant.address %></small></h1>
<%= link_to "Delete", @restaurant, method: :delete, remote: true %>

<h2>
  <%= pluralize @restaurant.reviews.size, "review" %>
</h2>




<div data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
  <div data-insert-in-list-target="items">
  <% @restaurant.reviews.each do |review| %>
  <%= render "review", review: review %>
    <% end %>
  </div>
  <%= render "reviews/form", restaurant: @restaurant, review: @review %>
</div>



